<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticContent" stopProcessing="true">
          <match url="^_next/static/(.*)" />
          <action type="Rewrite" url="/.next/static/{R:1}" />
        </rule>
        <rule name="PublicContent" stopProcessing="true">
          <match url="^(images|uploads|icon\.png|favicon\.ico)(.*)" />
          <action type="Rewrite" url="public/{R:1}{R:2}" />
        </rule>
        <rule name="NextApp">
          <match url="(.*)" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="node"
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
      loggingEnabled="true"
      logDirectory="iisnode"
    />
  </system.webServer>
</configuration>